<div class="wrapper" ng-init="vm.init()">
        <render-header info="true"></render-header>

        <!-- Full Width Column -->
        <div class="content-wrapper" style="height: 100vh">
          
          <div class="container">
            <!-- Main content -->
            <section class="content">
            	
              <render-breadcrumb></render-breadcrumb>
              <br/><br/>
            	<div class="row">
      					<div class="col-md-12">
      						<form class="form-horizontal" name="applicationForm" 
                        ng-submit="applicationForm.$valid && vm.createApplication()" novalidate>
      							
                    <div class="form-group"><!-- application name -->
      								<label for="applicationName" class="col-md-2 control-label">Application Name</label>
      								<div class="col-md-5">
      									<input type="text" ng-model="vm.applicationName" id="applicationName" name="applicationName" required class="form-control"/>

                        <div ng-show="applicationForm.$submitted" class="form_error">
                          <div ng-show="applicationForm.applicationName.$error.required">Cannot be empty</div>
                        </div>
      								</div>
      							</div><!-- application name -->

                    <div class="form-group"><!-- Select Template -->
                      <label for="templateName" class="col-md-2 control-label">
                        <input type="radio"  ng-model="vm.templateSelection" value="template" /> Select Template
                      </label>
                      <div class="col-md-5">
                        <input type="text" ng-model="vm.templateName" id="templateName" 
                              name="templateName" 
                              ng-required="vm.templateSelection === 'template'" class="form-control" />

                        <div ng-show="applicationForm.$submitted" class="form_error">
                          <div ng-show="applicationForm.templateName.$error.required">Cannot be empty</div>
                        </div>                       
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="smartSetup" class="col-md-2 control-label" style="padding-right:0">
                        <input type="radio"  ng-model="vm.templateSelection" value="smartSetup" /> Select Smart-Setup
                      </label>
                      <div class="col-md-5">
                        <input type="text" ng-model="vm.smartSetup" id="smartSetup" name="smartSetup" class="form-control" ng-hide="true" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="selectCountry" class="col-md-2 control-label">Select Country</label>
                      <div class="col-md-5">
                        <input type="text" ng-model="vm.selectedCountry" class="form-control" id="selectCountry" name="selectCountry" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="selectLanguage" class="col-md-2 control-label">Select Language</label>
                      <div class="col-md-5">
                        <input type="text" ng-model="vm.languageChoosen" class="form-control" id="selectLanguage" name="selectLanguage" />
                      </div>
                    </div>                    

                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-5">
                        <button type="submit" class="btn btn-primary">Next</button>  
                      </div>                      
                    </div>

      						</form>
      					</div>
      				</div>

            </section>
            <!-- /.content -->           
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
    
</div>
<!-- ./wrapper -->

